ul {
  float: right;
  text-align: right;
  list-style-type: none;
  padding-right: 2%;
  
  li {
    a, i {
      &:not(a) {
        border-style: ridge;
        border-width: 1px 1px 1px 1px;
        border-color: white;
        padding: .3rem;
        font-size: 10px;
        margin-right: 1px;
      }
      color: white;
      font-family: "Assistant", Sans-serif;
    }

    &:last-child {
      width: 101%;
    }
  }
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: "Assistant", Sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}

button {
  background-color: gray;
  color: #ffffff;
  font-family: "Assistant", Sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}

hr {
  border: none;
  height: 10px;
  /* Set the hr color */
  color: gray; /* old IE */
  background-color: gray; /* Modern Browsers */
}

nav {
  background-color: white;
}

input, textarea {
  &.form-control {
    background-color: gray;
    border-color: gray;
  }
}

h3, h6 {
  width: 100%;
  color: white;
  font-weight: 100;
}

p {
  color: white;
  font-weight: 100;
}

section {
  height: 100vh;
}

.main-image {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%; 
  margin-left: -150px;
  margin-top: -150px;
}

#navbarNav {

  margin-left: 60%;
  @media (min-width: 576px) {
    margin-left: 80%;
  }
  @media (min-width: 992px) {
    margin-left: 35%;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 576px) {
    width: 50%;
  }
  @media (max-height: 320px) {
    max-width: 75%;
  }
}

.bg-dark {
  background-color: inherit !important;

  .navbar-toggler {
    .navbar-toggler-icon {
      padding: 40px;
    }
  }

  .right-nav {
    .nav-item {
      a {
          font-size: 15px;
          letter-spacing: 1.8px;
          font-weight: 500;
      }
    }
  }
}

#home {
  height: 70vh;
  @media (max-height: 823px) {//
    height: 80vh;
  }
  @media (max-height: 812px) {//
    height: 80vh;
  }
  @media (max-height: 736px) {//
    height: 80vh;
  }
  @media (max-height: 731px) {//
    height: 80vh;
  }
  @media (max-height: 667px) {//
    height: 80vh;
  }
  @media (max-height: 640px) {//
    height: 80vh;
  }
  @media (max-height: 568px) {//
    height: 80vh;
  }
  @media (max-height: 414px) {//
    height: 70vh;
  }
  @media (max-height: 411px) {//
    height: 70vh;
  }
  @media (max-height: 375px) {//
    height: 70vh;
  }
  @media (max-height: 360px) {//
    height: 65vh;
  }
  @media (max-height: 320px) {//
    height: 65vh;
  }

  div.row {
    height: 50%;
    @media (max-height: 823px) {//
      height: 95%;
    }
    @media (max-height: 812px) {//
      height: 95%;
    }
    @media (max-height: 736px) {//
      height: 90%;
    }
    @media (max-height: 731px) {//
      height: 80%;
    }
    @media (max-height: 667px) {//
      height: 80%;
    }
    @media (max-height: 640px) {//
      height: 80%;
    }
    @media (max-height: 568px) {//
      height: 80%;
    }
    @media (max-height: 414px) {//
      height: 70%;
    }
    @media (max-height: 411px) {//
      height: 70%;
    }
    @media (max-height: 375px) {//
      height: 70%;
    }
    @media (max-height: 360px) {//
      height: 65%;
    }
    @media (max-height: 320px) {//
      height: 55%;
    }
  }
}

#about {
  .title {
    font-size: 24px;
    letter-spacing: 15px;
    font-family: "Raleway", Sans-serif;
    font-weight: 400;
  }

  .text {
    font-family: "Assistant", Sans-serif;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 3.9px;
    @media (max-width: 850px) {
      font-size: 19px;
    }
    @media (max-width: 576px) {
      font-size: 15px;
    }
  }
}

#still {
  .text {
    font-size: 13px;
    letter-spacing: 15px;
    font-family: "Raleway", Sans-serif;
    font-weight: 400;
    line-height: 25px;
  }
}

#contact {
  div.row {
    height: 100%;
    @media (min-width: 992px) {
      height: 75%;
    }
  }
}

.navbar-expand-lg {
  .navbar-nav {
    display: block;
    @media (max-width: 768px) {
      -ms-flex-direction: row;
      flex-direction: row;
    }
  }
}

.right-nav {
  top: 40%;
}
